<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-codelabs-login-styles.html">

<link rel="import" href="../cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../cells-molecule-spinner/cells-molecule-spinner.html">
<!--
`<cells-codelabs-login>` description.

Example:

```html
<cells-codelabs-login></cells-codelabs-login>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --cells-codelabs-login  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="cells-codelabs-login">
  <template>
    <style include="cells-codelabs-login-styles cells-codelabs-login-shared-styles"></style>
    <slot></slot>

    <!--p>Welcome to Cells TechU</p-->

    <cells-credentials-form hidden$="[[_loading]]"
      user-name="{{userName}}"
      user-password="{{userPassword}}"
      user-id="[[userId]]"
      on-login="_onFormSubmit"
      clear-id-icon="[[clearIcon]]"
      toggle-pwd-icon="[[showPwdIcon]]"
      toggle-pwd-icon-toggled="[[hidePwdIcon]]">
    </cells-credentials-form>

    <template is="dom-if" if="[[_loading]]">
      <cells-molecule-spinner
        message="[[_loadingText]]"
        finish="[[loggedIn]]">
      </cells-molecule-spinner>
    </template>
  </template>
  <script src="cells-codelabs-login.js"></script>
</dom-module>
