<dom-module id="cells-codelabs-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  padding: 1.25rem;
  --cells-molecule-spinner-message-color: #000;
  @apply --cells-codelabs-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>